* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #fdfdfd;
}

/* ======= CABEÇALHO ======= */
header {
    background-color: #eaf4ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 70px;
    height: 70px;
}

.logo h1 {
    color: #3c4d91;
    font-size: 20px;
}

.logo h1 span {
    font-weight: bold;
    color: #2349d1;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #2349d1;
    font-weight: 500;
    font-size: 17px;
    transition: 0.3s;
}

nav a:hover{
    font-size: 19px;
    border-bottom: 2px solid #8fa8e8;
}
.Home:active{
    transform: scale(1.0);
    color: #8fa8e8;
    
}
nav a.Home {
    border-bottom: 2px solid #2349d1;
    padding-bottom: 3px;   
}
/* ======= CONTEÚDO PRINCIPAL ======= */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 80px;
}

.conteudo {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 170px;
}

.imagem img {
    width: 600px;
}

.texto {
    background-color: #eaf4ff;
    border-radius: 20px;
    width: 575px;
    padding: 30px;
    box-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
.paragrafo{
    margin-top: 15px;
    text-align: justify;
    line-height: 1.5;
    color: #333;
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.texto h2 {
    display: flex;
    justify-content: center;
    color: #111;
    font-size: 50px;
}

.texto h2 span {
    color: #2349d1;
    margin-right: 10px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.btn.azul:active{
    transform: scale(0.8);
}
.btn.btn.claro:active{
    transform: scale(0.8);
}
.btn {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn.azul {
    background-color: #3b6ff0;
    color: white;
}

.btn.azul:hover {
    background-color: #2f58c3;
}

.btn.claro {
    background-color: #5cc3ff;
    color: white;
}

.btn.claro:hover {
    background-color: #3ba7e5;
}

/* ======= RODAPÉ ======= */
footer {
    position: relative;
    height: 100vh;
}

.onda {
    width: 100%;

    height: 100vh;
    background: linear-gradient(to top, #cfe8ff 30%, #fdfdfd 100%);
    border-top-left-radius: 60% 40%;
    border-top-right-radius: 60% 40%;
}

